/*
	Author:			The Sith Group
	Name:			sith.css
	Description:	Home Page CSS
	Date:			4/16/2018
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: auto;
	width: 100%;
    background-color: rgba(255,239,232,.8);
}

img.floatLeft {
	display: block;
	float: left;
	margin: 0 15px;
}

img.floatRight {
	display: block;
	float: right;
	margin: 0 75px;
}

.clearBoth {
	clear: both;
}

#container {
	width: 85%;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 75px;
	margin: 0 auto;
}

header, nav, footer {
	background-color: rgba(215,140,110,.8);
	color: #eee;
	width: 100%;
	margin: 0;
	padding: 25px 0px;
}

header {
	height: 95px;
	text-align: center;
}

nav {
	padding-bottom: 15px;
}

nav a {
	float: left;
	display: block;
	width: 75px;
	color: #FFF;
	padding: 5px 0;
}

nav a:link, nav a :visited {
	margin-right: 5px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	position: relative;
	left: 50px;
	top: -25px;
}

nav a:hover, nav a:active, .current {
	color: #FFDCAD;
	border-bottom: 4px solid #333;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

